---
import Card from '../components/Card.astro'

import { getCollection } from 'astro:content'

const allCfps = await getCollection('cfp')
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Call For All</title>
  </head>

  <body>
    <div class="grid place-items-center h-screen content-center">
      {allCfps.map((cfp) => <Card cfpData={cfp.data} />)}
    </div>
  </body>
</html>
